<%= if @current_user do %>
  <h2>Welcome, <%= @current_user.name %>!</h2>
  <img src="<%= @current_user.avatar %>" class="img-circle"/>
  <%= link "Logout", to: auth_path(@conn, :delete), method: :delete, class: "btn btn-danger" %>
<%= else %>
  <a class="btn btn-primary" href="<%= auth_path @conn, :index, "github" %>">Log in with Github</a>
<%= end %>